<div id="container">
  <%= form_for(@user) do |f| %>
    <h2>Sign Up</h2>
    <p>
      <%= f.label(:email, "Email:") %>
      <%= f.text_field(:email, placeholder: 'me@lifegoals.edu') %><br><br>

      <%= f.label(:password, "Password:") %>
      <%= f.password_field(:password, placeholder: "6 to 20 characters") %><br><br>

      <%= f.label(:password_confirmation, "Confirm password:") %>
      <%= f.password_field(:password_confirmation, placeholder: "6 to 20 characters") %><br><br>

      <%= f.label(:birthday, "Birthday:") %>
      <%= date_select :user, 
                      :birthday, 
                      start_year: (Time.now.year - 5), 
                      end_year: (Time.now.year - 80) %>
    <br><br>
    </p>
      <%= f.submit("Sign Up") %>
  <% end %>


  <div class="signup_error">
    <% if @user.errors.any? %>
      <ul>
      <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

</div>
