<!DOCTYPE html>
<html>
<head>
  <title>lifeBar</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="lifeBar_ico.png" type="image/x-icon">
  <link rel="icon" href="lifeBar_ico.png" type="image/x-icon">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render partial: "layouts/navbar" unless @disable_nav %>
  <%= yield %>
</body>
</html>
